.message {
  background-color: dodgerblue;
  padding: 8px;
}

:root {
  background-color: #222222;
  font-family: "Open Sans", sans-serif;
  color: #ddd;
}

.mdui-prose {
  margin-top: 12px;
  margin-bottom: 12px;
}
